<h1>Супер-Ультра айти</h1>

<p>Первокласные специалисты с многолетним опытом будут обучать вас новейшим технологиям по доступной цене</p>

<div>
    <h2>Наши преподаватели</h2>
</div>
<div class="teachers">
    <div class="card teacher">
        <div class="card-image">
            <img src="taras.jpg" height="410" width="340" alt="Тарас">
        </div>
        <p class="name">Тарас</p>
        <p>Профессиональный верстальщик игор на С++</p>
    </div>
    <div class="card teacher">
        <div class="card-image" >
            <img src="bogdan1.jpg" alt="Богдан">
        </div>
        <p class="name">Богдан</p>
        <p>Профессиональный .нетер</p>
    </div>
    <div class="card teacher">
        <div class="card-image">
            <img src="yuranus.jpg" alt="Юранус">
        </div>
        <p class="name">Юранус</p>
        <p>Профессиональный укратитель python-ов</p>
    </div>
</div>